.lb-AppHeader {
  background-color: #222;
  color: white;
  line-height: 2em;
  text-align: center;
}

.lb-AppHeader-logo {
  height: 80px;
}

.lb-AppHeader-link {
  background-color: #444;
  color: white;
  font-size: 12px;
  height: 42px;
  letter-spacing: 1px;
  line-height: 42px;
  padding: 14px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.lb-AppHeader-link:hover {
  background-color: #666;
}
