.lb-BudgetDetails {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  padding-left: 20px;
  width: 870px;
}

.lb-BudgetDetails-fulfill-value {
  font-size: 20px;
  padding: 0 5px;
}

.lb-BudgetDetails-fulfill-low {
  background-color: #c6e48b;
}

.lb-BudgetDetails-fulfill-medium {
  background-color: #7bc96f;
}

.lb-BudgetDetails-fulfill-high {
  background-color: #239a3b;
}

.lb-BudgetDetails-time-value {
  font-size: 20px;
  padding: 0 5px;
}
